#search_bar {
    margin-top: 1%;
    border: solid 1px var(--primary-color);
    padding: 2.5% 2.5% 2.5% 2.5%;
}
section {
    height: 100px;
    margin-top: 5%;
    width: 100%;
    float: left;
    clear: both;
}
aside {
    /*Item Names*/
    height: 100px;
    width: 30%;
    border: solid 1px var(--primary-color);
    float: left;
    clear: both;
}
article {
    /*Item Comments*/
    text-align: center;
    height: 100px;
    overflow-y: auto;
    clear: right;
    border: solid 1px var(--primary-color);
}
#comment_table {
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr auto 1fr; /* Match the container columns */
}

#avatar_img {
    height: 15%;
}

label {
    display: inline-block;
    width: 100px;
  }
  form {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 4;
    width: 350px;
    padding: 3px;
    background-color: transparent;
    text-align: center;
  }
  form input {
    width: calc(100% - 100px);
    padding: 10px;
    margin-bottom: 10px;
    padding: 15px 15px;
    border: 0;
    border-radius: 10px;
  }

  .button-container {
    text-align: center;
  }

  .yellowbutton{
    background-color: var(--primary-color);
    width: calc(80%);
    margin-bottom: 10px;
    padding: 15px 15px;
    border: 0;
    border-radius: 10px;
  }

  .yellowbutton:hover{
    background-color: var(--hover-color);
  }

  .accounttext {
    color: var(--primary-color);
    font-size: 12px;
  }

  .accounttext:hover{
    color: var(--hover-color);
  }

  #updateFirstNameForm{
    margin-top: 1em;
  }
  