form {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 4;
    width: 350px;
    height: auto;
    padding: 20px;
    background-color: transparent;
    text-align: center;
  }

  .form-container{
    background-color: white;
    border-radius: 10px;
    margin-top: 1em;
  }

  .radio-container{
    text-align: center;
  }

  form input {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 15px 15px;
    border-radius: 5px;
  }

  .button-container {
    text-align: center;
  }

  .button-container button {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
  }

  .button-container button:hover {
    background-color: var(--hover-color);
  }

  .accounttext {
    color: var(--primary-color);
    font-size: 12px;
  }

  .accounttext:hover{
    color: var(--hover-color);
  }

  form button{
    background-color: var(--primary-color);
    padding: 1em;
    border: 0px;
    border-radius: 5px;
  }

  form button:hover{
    background-color: var(--hover-color);

  }

  form textarea{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    border-radius: 5px;
  }

  form select{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
  }
