label {
  display: inline-block;
  width: 100px;
}
form {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 4;
  width: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  text-align: center;
  border-radius: 10px;
  margin-top: 1em;
}
form input {
  width: calc(100% - 100px);
  padding: 10px;
  margin-bottom: 10px;
  padding: 15px 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.button-container {
  text-align: center;
}

.button-container button {
  background-color: var(--primary-color);
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 30px;
  font-size: 16px;
}

.button-container button:hover {
  background-color: var(--hover-color);
}

.accounttext {
  color: var(--primary-color);
  font-size: 12px;
}

.accounttext:hover{
  color: var(--hover-color);
}


