#search_bar {
    margin-top: 1%;
    border: solid 1px var(--primary-color);
    padding: 2.5% 2.5% 2.5% 2.5%;
}
section {
    height: 100px;
    margin-top: 5%;
    width: 100%;
    float: left;
    clear: both;
}
aside {
    /*Item Names*/
    height: 100px;
    width: 30%;
    border: solid 1px var(--primary-color);
    float: left;
    clear: both;
}
article {
    /*Item Comments*/
    text-align: center;
    height: 100px;
    overflow-y: auto;
    clear: right;
    border: solid 1px var(--primary-color);
}
#comment_table {
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr auto 1fr; /* Match the container columns */
}
#item_list {
    margin-bottom: 30%;
}
#avatar_img {
    height: 15%;
}

.table-container{
    margin-top: 1em;
    background-color: white;
    border-radius: 10px;

}

.detail-button{
    background-color: var(--primary-color);
    border: 0px;
    padding: 0.75em;
    border-radius: 5px;
    width: 100%;
}

.detail-button:hover{
    background-color: var(--hover-color);
}

#user_table th{
    text-align: center;
    border-radius: 5px;
}

#user_table td{
    text-align: center;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

#user_table tr:nth-child(even) {
    background-color: var(--third-color);
    border-radius: 5px;
}

.user-search-container {
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    padding: 1em;
}

.user-search-container input[type="text"],
.user-search-container select {
    width: 30vw;
    margin-right: 10px;
    padding: 2vh 2vw;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
}

.user-search-container button {
    width: 20vw;
    padding: 1vh 1vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.user-search-container button:hover {
    color: var(--hover-color);
}

.user-search-container .select_dropdown {
    width: 20%;
    padding: 2vh 2vw;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.table-container{
    display: flex;
    justify-content: center;
    
}
