@import url("variables.css");
nav a {
    background-color: var(--main-button-background-color);
    color: var(--main-button-foreground-color);
}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    overflow-y: visible;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
  }

.container {
    background: var(--third-color);
    width: 100%;
    min-height: 90vh;
    height: auto;
    padding-bottom: 0.5em;
    overflow-y: visible;
    position: relative;
}

.headeryellow {
    background: var(--primary-color);
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerblack {
    background: var(--secondary-color);
    width: 100%;
    height: 5em;
    position: relative;
}

.underheadercontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: auto;
    background-color: transparent;
    z-index: 3;
}

.triangleextendblack {
    background: var(--secondary-color);
    width: 100%;
    height: 10em;
    position: relative;
    z-index: 1;
}

.triangle-element {
    width: 100%;
    height: 27em;
    background: linear-gradient(to bottom right,var(--secondary-color) 0%, var(--secondary-color) 50%, var(--third-color) 50%, var(--third-color)  100%);
    position: relative;
    z-index: 1;
}

.home-button {
    position: absolute;
    width: 6em;
    top: 20%;
    left: 1%;
    border-radius: 10px;
    padding: 15px 15px;
    color: var(--secondary-color);
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.add-items-button {
    position: absolute;
    width: 6em;
    top: 20%;
    left: 12%;
    border-radius: 10px;
    padding: 15px 15px;
    color: var(--secondary-color);
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.login-button {
    position: absolute;
    width: 6em;
    top: 20%;
    right: 1%;
    border-radius: 10px;
    padding: 15px 15px;
    color: var(--secondary-color);
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.admin-login-button {
    position: absolute;
    width: 6em;
    top: 20%;
    right: 12%;
    border-radius: 10px;
    padding: 15px 15px;
    color: var(--secondary-color);
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.create-account-button {
    position: absolute;
    width: 8em;
    top: 20%;
    left: 12%;
    border-radius: 10px;
    padding: 15px 15px;
    color: var(--secondary-color);
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.admin-management-button {
    position: absolute;
    width: 12em;
    top: 20%;
    right: 23%;
    border-radius: 10px;
    padding: 15px 15px;
    color: var(--secondary-color);
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.home-button:hover,
.admin-login-button:hover,
.login-button:hover,
.create-account-button:hover,
.admin-management-button:hover,
.add-items-button:hover {
    background-color: var(--hover-color);
}

.default_body {
    text-align: center;
    overflow-x: hidden; /*Turns off horizontal scroll on the whole body.*/
    color: var(--main-font-color);
    background-color: var(--main-background-color);
}
.error_message {
    color: red;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-container input[type="text"],
.search-container select {
    width: 30vw;
    margin-right: 10px;
    padding: 2vh 2vw;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
}

.search-container button {
    width: 20vw;
    padding: 1vh 1vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    color: var(--hover-color);
}

.select_dropdown {
    width: 20%;
    padding: 2vh 2vw;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.breadcrumb_box {
    background-color: var(--primary-color);
    display: flex;
    height: 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.weather_box {
    background-color: var(--primary-color);
    padding: 0;
    display: inline-flex;
    height: 1.5em;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0.5em;
}


footer {
    width: 100%;
    height: 5vh;
    display: flex;
}

footer div{
    background: var(--secondary-color);
    width: 100%;
    height: 5em;
    position: relative;
    left: 0px;
    bottom: 0px;
    color: var(--third-color);
    display: block;
  }
 footer div nav{
    width: 100%;
    text-align: center;
    justify-content: center;
  }
 footer ul{
    padding:0;
  }
footer li{
    text-align: center;
    display: inline-block;
    padding: 0 1em;
    position: relative;
  }
footer a{
    text-decoration: none;
    background-color: transparent;
  }

  footer a:hover{
    color: var(--primary-color);
    text-decoration: underline;
  }
footer p{
    font-size: 0.75em;
    color: var(--primary-color);
    margin: 0 ;
    text-align: center;
  }

footer div ul li:not(:last-child)::after{
    content:"";
    border:1px solid #e2e2e2;
    border-width: 0.1em 0.1em 0 0;
    position:absolute;
    right:-0.2em;
    top:0;
    height:100%;
    border-color: var(--third-color);
  }


/* Style the list */
ul.breadcrumb {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    content: "/ ";
    padding: 0 5px;
    color: black;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: var(--secondary-color);
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* makes certyain elements visually hiddne that are intended for screen readers */
.visually-hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
/* for the weather display */
dl dt, dl dd {
    display: inline;
}
dl dd{
    margin-left: 0;
    margin-right: 3em;
    min-width: auto;
}

.greeting-text {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}