@import url("variables.css");

.default_body {
    text-align: center;
    overflow-x: hidden; /*Turns off horizontal scroll on the whole body.*/
    color: var(--main-font-color);
    background-color: var(--main-background-color);
}
.error_message {
    color: red;
}
.select_dropdown {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
